@import "../bower_components/normalize-scss/_normalize.scss";
@import "../bower_components/typeplate-starter-kit/scss/_typeplate.scss";



/**
 * BOX-SIZING
 */

*,
*:before,
*:after {
    box-sizing: border-box;
    transition-duration: 0.2s;
    transition-property: all;//opacity, transform, color, background-color, border-color, z-index, background-image;
    transition-timing-function: ease;
}

/**
 * GRIDS
 */

.grid {
    display: block;
    text-align: justify;
    font-size: 0;
    position: relative;

    > * {
        display: inline-block;
        width: 100%;
        font-size: 1rem;
        text-align: left;
    }

    &:after {
        display: table;
        width: 100%;
    }
}

@mixin grid_r($col, $width, $padding: 0) {
    @media screen and (min-width: #{$width}px) {
        .grid-#{$col}-#{$width} {
            & > * {
                width: #{100/$col}%;
                padding: #{$padding}px;
            }
        }
    }
}

@mixin grid($col, $padding: 0) {
    .grid-#{$col} {
        & > * {
            width: #{100/$col}%;
            padding: #{$padding}px;
        }
    }
}

@include grid(2);
@include grid(4);
@include grid(8);
@include grid_r(2,400);
@include grid_r(2,800);
@include grid_r(4,400);
@include grid_r(4,800);
@include grid_r(8,800);
@include grid_r(8,1024);
@include grid_r(8,1280);

/**
 * GENERAL
 */

img {
    max-width: 100%;
}
body {
    font-family: 'San Francisco', 'Helvetica', 'Trebuchet MS', Arial, sans-serif;
}

/**
 * PACE (automatic pre-loader thingy)
 */

.pace {
    pointer-events: none;
    user-select: none;
    transition: all 1s ease;
    .pace-progress {
        background: #2299dd;
        position: fixed;
        z-index: 2000;
        top: 0;
        right: 100%;
        width: 100%;
        height: 2px;
        transition: all 1s ease;
    }
}

.pace-inactive {
    opacity: 0;
}

.pace-active {
    opacity: 1;
}

/**
 * App code
 */



.pace {
    pointer-events: none;
    user-select: none;
    transition: all 1s ease;
    .pace-progress {
        background: #2299dd;
        position: fixed;
        z-index: 2000;
        top: 0;
        right: 100%;
        width: 100%;
        height: 2px;
        transition: all 1s ease;
    }
}

.pace-inactive {
    opacity: 0;
}

.pace-active {
    opacity: 1;
}

/**
 * App code
 */

 //Colors

$fontColor: #0192B1;
$lightColor: white;
$bg: #F1EFE9;
$bigFont:#C8292F;
$faded:rgba(255,255,255,.8);

body{
    height: 100vh;
    position: relative;
}
br{
    display: block;
    margin: 10px 0;
}
h3{
    color:$bigFont;
    
}
h5{
    color:$bigFont;
    font-size:20px;

}
 .container {

    text-align: center;

    #logOut{
    background: $bg;
    position: fixed;
    top: 0;
    right: 0;
    height: 45px;
    width: 120px;
    border: 3px solid $fontColor;
    margin-top: 5px;
    margin-right: 5px;
    line-height: 35px;

    }
    .list{
        display:inline-block;
        width: 50%;
        vertical-align: top;
    }

    #map{
        display:inline-block;
        width: 50%;
        height:400px;
        margin: 0 auto;
        box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.75);
    }
    .text>h1:first-child{
        margin-bottom: 0
    }
    .text{
        background-color: $faded;
        width: 80%;
        margin: 0 auto;
    }
//Splash----------->
    .loginContainer {
        
        text-align: center;

        input {
            display: block;
            margin: 5em;
            padding: 2em;
            margin:20px auto;
        }
        h1{
            font-size:30px;
            color:$bigFont;
        }
    }
//Dash----------->
    #welcome>h1{
        
            font-size: 50px;
            color:$bigFont; 
            margin-bottom: 0;
    }
    #welcome{
        background-color: $faded;
        width:80%;
        margin: 0 auto;

    }
    
    #top{
        background-color: $bg;
        #logo{
            display: inline-block;
            vertical-align: bottom;
            margin-bottom: 15px;
            img{
              
              width:100%;
              margin: auto;  
            }
        #nav{
            display: inline-block;
            width:50%;  
            
        }
        }
    }


        #bgImg{
            min-height: 100%;
            min-width: 1024px;
            width: 100%;
            height: auto;
            position: fixed;
            top: 0;
            left: 0;
            z-index: -2;

        }

        
    
    
   
        
        #navigation{

            display: inline-block;
            
            .tabs:hover{
                color:$lightColor;
                background-color: $fontColor
            }
            .tabs:first-child{
                border-left: 2px solid $fontColor;
            }
            .tabs{
                font-size:20px;
                display:inline-block;
                text-decoration:none;
                line-height:50px;
                border: 2px solid $fontColor;
                border-left:none;
                padding: 5px;

                a{
                    margin:0;
                }
            }
        }
    

//MakeRequestView-------->

    #makeRequest{

        h1{
            font-size: 30px;
            color:$bigFont;
        }
        img{
            height:400px;
            width:100%;
        }
        #descr{

            display:inline-block;
            width: 50%;
            vertical-align: top;
        }
        ::-webkit-input-placeholder {
    color: black;
}
        textarea{
            margin: 0 auto;
            display:block;
            width:300px;
            height:300px;
            background-color: goldenrod;
            box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.75);
            color: black;
            transition: .5s all ease;
        }
        textarea:focus{
            color:$fontColor;
            background-color: $bg;
             outline-width: 0;
        }

        button:hover{
                    background-color: $bg;
                    color: $bigFont;
                }

        button{
            display:block;
            border-radius: 40%;
            margin: 20px auto;
            background-color: $bigFont;
            color: #CECEEB;
        }
        
    }
 }

 //Nearby------------>

    #nearbyView{

        #nearbyBot{
            margin-top: 10px;
        }


        h1{
            font-size: 30px;
            color:$bigFont;
        }

        input{
            display: block;
            margin: 10px auto;
        }
        img{
            height:400px;
            width:100%;
        }

        button{
            display: block;
            margin: 10px auto;
        }

        .nearbyRequest:first-child{
                margin-top: 0
            }

        .nearbyRequest{

            background-color: $bg;
            border: 2px solid $fontColor;
            margin-left: 10%;
            margin-right: 5%;
            margin-bottom: 25px;
            margin-top: 25px;
            padding:10px;
            box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.75);
            


            .part1{
                display:inline-block;
                width:50%;

            }
            .part2{
                display:inline-block;
                width:50%;
                vertical-align: top;
                input{
                    width:100%;
                }
                button:hover{
                    background-color: $bg;
                    color: $bigFont;
                }
                button{
            border-radius: 40%;
            margin: 20px auto;
            background-color: $fontColor;
            color: $bg
        }
            }
            
            p{
                margin:0 auto;
                color:$fontColor;
            }

        }
    }
//Pending----------->
    #pending{
         h1{
            font-size: 30px;
            color:$bigFont;
        }

        .userRequests{
            border: 2px solid $fontColor;
            margin-left: 25%;
            margin-right: 25%;
            margin-bottom: 20px;
            background-color: $bg;
            padding:10px;

            p{
                color:#8B008B;
                margin: 0 auto;
            }

        }
    }
//Image--------------->

    #image{
        margin-left: 15%;
        margin-right: 15%;


        .images{
            background-color: $bg;
            margin: 10px auto;
            padding:10px; 
        }

        h1{
            font-size: 30px;
            color:$bigFont;
        }

        p{
            color:$fontColor;
            text-align: left;
            margin-left: 7.5%;
            margin-bottom: 10px;
            margin-top: 10px;
            text-indent: 0
        }

        img{
            height:360px;
            width:640px;
            margin: 0 auto
        }
    }

@media only screen and (max-width:860px){
    p{
        font-size: 17px;
    }

    #logo{
      display:block;
      width:100%;
      margin-top: 50px;
      }
    #descr{
      display:block;
      width:100%;
      }
      #welcome{
        width: 100%;
      }
      #pending{
        .userRequests{
            width:70%;
            margin:10px auto
        }
      }
      #nearbyView{
        img{
            height:300px
        }
        .nearbyRequest:first-child{
            margin-top: 20px;
        }
        .nearbyRequest{
            
            .part1{
                display:block;
                width: 100%;
            }
            .part2{
                display:block;
                width: 100%;
                input{
                    width:80%;
                    margin-left:29%

                }
                p{
                    visibility: hidden;
                }
            }

        }
      }
      
      

      .container{

            .text{
                width: 80%;
                #drag{
                    width:100%;
                }
            }
            #map{
                display: block;
                width:70%;
                margin: 0 auto;
                height:300px;
            }
            .list{
                display:block;
                width:100%;

            }
            #makeRequest{
                img{
                    height:300px
                }
                #descr{
                    margin: 10px auto;
                    width: 80%;
                }
            }
                
        }

      .tabs{
        width:50%;
        margin:0 auto;
      }
      #navigation ul{
        margin:0;
        padding:0;
      }


}